body,
html {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.big-label {
  font-size: 1.2em;
}

.black-border {
  td,
  th {
    border: 1px solid #000 !important;
  }
}

.main {
  padding-bottom: 50px !important;
}

.footer {
  margin-top: auto;
}

.photo {
  max-width: 200px;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.top-right-dropdown {
  position: absolute;
  right: 50px;
  top: 18px;
}

.pointer {
  cursor: pointer;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links {
  a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.graph {
  margin-top: 30px;
}

.m-b-md {
  margin-bottom: 30px;
}